.root
{
    padding: 42px 100px 60px 40px;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
}

.header
{
    margin-bottom: 22px;

    color: #4a4a4a;

    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
