.root
{
    display: flex;

    &_direction
    {
        &_vertical
        {
            flex-direction: column;
        }

        &_horizontal
        {
            flex-direction: row;

            .item
            {
                margin-right: 40px;

                &:last-child
                {
                    margin-right: 0;
                }
            }
        }
    }
}

.item
{
    display: flex;

    align-items: center;

    &__icon
    {
        width: 10px;
        height: 10px;

        border-radius: 2px;
    }

    &__title
    {
        margin-left: 5px;

        color: #4a4a4a;

        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
    }
}
